[user]
	email = abhmul@gmail.com
	name = jetm
[alias]
	s = status
	a = !git add -A
	u = !git add -u
	c = !git commit -m
	ac = !git a && git c
	uc = !git u && git c
	p = !git push -u origin HEAD
	pu = !git stash && git pull -r && git stash pop
	acp = "! f() { git pu && git ac '$1' && git p; } ; f"
	ucp = "! f() { git pu && git uc '$1' && git p; } ; f"



